[trust_cert] 
authorityKeyIdentifier=keyid,issuer:always 
subjectKeyIdentifier=hash 
basicConstraints=CA:true 
[ca] 
dir=c:\openserver\certs\generator\ca\ecc 
default_ca=CA_default 
database=$dir/index.txt 
default_md=default 
default_crl_days=30 
crlnumber=$dir/crlnumber 
[CA_default] 
dir=c:\openserver\certs\generator\ca\ecc 
certs=$dir 
crl_dir=$dir 
database=$dir/index.txt 
crlnumber=$dir/crlnumber 
x509_extensions=usr_cert 
name_opt=ca_default 
cert_opt=ca_default 
default_days=365 
default_crl_days=30 
default_md=default 
preserve=no 
[ new_oids ] 
businessCategory=2.5.4.15 
streetAddress=2.5.4.9 
stateOrProvinceName=2.5.4.8 
countryName=2.5.4.6 
jurisdictionOfIncorporationStateOrProvinceName=1.3.6.1.4.1.311.60.2.1.2 
jurisdictionOfIncorporationLocalityName=1.3.6.1.4.1.311.60.2.1.1 
jurisdictionOfIncorporationCountryName=1.3.6.1.4.1.311.60.2.1.3 
